<main class="outfit-index">
<h2 class='title outfits-title'> My Outfits </h2>

<% if(@outfits) %>
    <ul class="ul-outfits">
        <% @outfits.each do |o| %>
            <li>
                <div class="outfit-date">
                    <%= o.date.to_formatted_s.to_date.strftime('%a, %d %b %Y') %>
                </div>
                <div class="outfit-weather"> 
                    <div class="outfit-weather-name">
                        <%=o.weather.description%>
                    </div>
                    <div>
                        <span>
                            <%= image_tag o.weather.icon_src, class: "outfit-weather-icon" %>
                        </span>
                        <span class="outfit-high-temp">
                            <%= o.weather.high_temp %> ºC 
                        </span>
                    </div>
                </div>
                <div class="each-outfit">
                    <% o.items.each do |i| %>
                        <div class="each-outfit-item">
                            <%= image_tag i.image.variant(resize: "100x100") %>
                        </div>
                    <%end%>
                </div>
                <%= link_to outfit_path(o.id), method: :delete, data: {confirm: "Are you sure?"}  do %>
                    <!--<div id="delete-icon" style="font-size: 1.5rem; color: lightgreen; display " > -->
                    <div id="delete-icon" class="trash" >
                         <i class="fas fa-trash-alt"></i> 
                    </div>
                <% end %>  
            </li> 
        <%end%>
    </ul>
<% end %>
</main>

