
<main id="main-new">
<div id="form-new">
    <h2 class='title new-item-title'> Add Item </h2>
    <%= form_for(@item) do |f| %>
        <div class="form-group">
            <p class="find-image-info">Find item image at your computer <p>
            <label class="btn btn-info find-image" for="imgInp">
                Find item
            </label>
            <%= f.file_field :image, id: "imgInp" %>
        </div>
        <div>
            <div class="option-name"> Category </div>
            <div>
                <%= collection_select(:item, :category_id, Category.all, :id, :name, {}, {:class => 'minimal'}) %>
            </div>
        </div>
        <div>
            <div class="option-name"> Color </div>
            <div>
                <%= collection_select(:item, :color_id, Color.all, :id, :name, {}, {:class => 'minimal'}) %>
            </div>
        </div>
        <div>
            <div class="option-name"> Season </div>
            <div>
                <%= collection_select(:item, :season_id, Season.all, :id, :name,  {}, {:class => 'minimal'} ) %>
            </div>
        </div>
        <div>
            <div class="option-name"> Occasion </div>
            <div>
                <%= collection_select(:item, :occasion_id, Occasion.all, :id, :name, {}, {:class => 'minimal'}) %>
            </div>
        </div><br>
        <div  class="form-group">  
            <%= f.submit "Create Item",  class: "btn btn-outline-info" %>
        </div>
    <% end %>
</div>

<div id="image-frame">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <img id="new-item-show" src="#" />
</div>
<main>


