<p id="notice"><%= notice %></p>

<p>
  <strong>Count:</strong>
  <%= @item.count %>
</p>

<p>
  <strong>Purchase year:</strong>
  <%= @item.purchase_year %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user %>
</p>

<p>
  <strong>Color:</strong>
  <%= @item.color %>
</p>

<p>
  <strong>Season:</strong>
  <%= @item.season %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Occasion:</strong>
  <%= @item.occasion %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
